.homeGallery{
  display: grid;
  grid-template-columns: 1fr;
}
.homeCategories{
  position: relative;
  height:50vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homeCategoryTitle{
  display: block;
  right: 0;
  top: 0;
  font-size: 2rem;
  width: 30%;
  text-align:center;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
  border: 5px solid #333;
  border-right: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.homeCategories:hover .homeCategoryTitle{
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid transparent;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .homeCategoryTitle{
    width: 50%;
    font-size: 1.5rem;
  }
}